ceshi
<!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" aria-label="Close">-->
            <!--<span aria-hidden="true" ng-click="vm.modal.cancel()">×</span></button>-->
        <!--<h4 class="mox-title">{{::vm.viewData.title}}</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<div role="alert" ng-if="vm.formError" class="alert alert-danger">{{::vm.formError}}</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>书名：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<input required="required" ng-model="vm.formData.title" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>信息：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<input required="required" ng-model="vm.formData.info" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>ISBN：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<input required="required" ng-model="vm.formData.ISBN" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>标签：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<input required="required" ng-model="vm.formData.tags" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>推荐指数：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<select required="required" ng-model="vm.formData.rating" class="form-control input-sm">-->
                    <!--<option>5</option>-->
                    <!--<option>4</option>-->
                    <!--<option>3</option>-->
                    <!--<option>2</option>-->
                    <!--<option selected="selected">1</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name"><span>* </span>简介：</div>-->
            <!--<div class="item-value">-->
                            <!--<textarea rows="5" required="required"-->
                                      <!--ng-model="vm.formData.brief"-->
                                      <!--class="form-control" placeholder="最多200字" maxlength="200"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="rc-form-item">-->
            <!--<div class="item-name">上传图片：</div>-->
            <!--<div class="item-value input-group input-group-sm">-->
                <!--<a class="btn btn-info" id="upload">点击上传</a>-->
                <!--<br>-->
                <!--<img src="" id="img" alt="">-->
                <!--<input type="hidden" id="imgvalue" name="" value="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<div class="pull-right">-->
            <!--<button type="button" ng-click="vm.modal.cancel()" class="btn btn-default">取消</button>-->
            <!--<button type="submit" ng-click="vm.onSubmit();vm.modal.cancel()" class="btn btn-primary">确定</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
