<main-header></main-header>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <div class="error">{{vm.message}}</div>
                <h3 class="box-title">{{vm.oneBookInfo.title}}</h3>
            </div>
            <div class="box-body">
                <div class="row bookdetail">
                    <div class="col-md-2">
                        <img ng-src='{{vm.oneBookInfo.book_img}}'>
                    </div>
                    <div class="col-md-10">
                        <p>{{vm.oneBookInfo.info}}</p>
                        <p rating-stars rating="vm.oneBookInfo.rating"></p>
                        <p class="book-tags">
                            <span ng-repeat="tag in vm.oneBookInfo.tags">{{tag}}</span>
                        </p>
                        <p>IBSN:{{vm.oneBookInfo.IBSN}}</p>
                    </div>
                </div>
                <div class="row">
                    <h4>内容简介:</h4>
                    <p>{{vm.oneBookInfo.brief}}</p>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header" style="padding-bottom: 0px;">
                <span style="color: #337ab7;cursor: pointer;" ng-click="vm.toComment()"><i
                        class="chat"></i>我要评论</a>
            </div>
            <div class="box-body" style="padding-top: 0px;">
                <main-edit-textarea ng-if="vm.isComment"></main-edit-textarea>
                <div class="row booklist" ng-if="vm.oneBookInfo.comments" ng-repeat="item in vm.oneBookInfo.comments">
                    <span>{{::item}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
