<main-header></main-header>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <div class="error">{{vm.message}}</div>
                <h3 class="box-title">{{vm.oneBookInfo.title}}</h3>
            </div>
            <div class="box-body">
                <div class="row bookdetail">
                    <div class="col-md-2 book-img">
                        <img ng-src='{{vm.oneBookInfo.img}}'>
                    </div>
                    <div class="col-md-8">
                        <p><span>作者:</span>{{vm.oneBookInfo.auth}}</p>
                        <p><span>出版社:</span>{{vm.oneBookInfo.press}}</p>
                        <p rating-stars rating="vm.oneBookInfo.rating"></p>
                        <p class="book-tags">
                            <span ng-repeat="tag in vm.oneBookInfo.tags"><a class="tag">{{tag}}</a></span>
                        </p>
                        <p><span>IBSN:</span>{{vm.oneBookInfo.ISBN}}</p>
                    </div>
                </div>
                <div class="row">
                    <h4 style="color: #007722;">内容简介· · · · · ·</h4>
                    <p>{{vm.oneBookInfo.brief}}</p>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header" style="padding-bottom: 0px;" ng-if="vm.isLoggedIn">
                <i class="fa fa-comment-o"></i><span style="color: #337ab7;cursor: pointer;" ng-click="vm.toComment()">我要评论</a>
            </div>
            <div class="box-body" style="padding-top: 0px;">
                <main-edit-textarea ng-if="vm.isComment"></main-edit-textarea>
                <div class="row booklist" ng-if="vm.oneBookInfo.comments" ng-repeat="item in vm.oneBookInfo.comments">
                    <!--<a href="#/personal/{{vm.oneBookInfo.userId}}">{{vm.oneBookInfo.username}}</a>-->
                    <p>{{::item}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
