<main-header></main-header>
<div class="row">
    <div class="col-md-9 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">大家推荐的书籍</h3>
            </div>
            <div class="box-body">
                <div class="error">{{vm.message}}</div>
                <div class="row booklist" ng-repeat="book in vm.bookList|orderBy:'rating':true">
                    <div class="col-md-3 book-img">
                        <a href="#/book/{{book.title}}"><img src='{{book.img}}'></a>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <span>书名:</span><a href="#/book/{{book._id}}">{{book.title}}</a>
                            <label class="label label-info handle-book-label" ng-if="vm.user._id === book.userId"
                                   ng-click="vm.updateBook(book._id)">更新信息</label>
                            <label class="label label-warning handle-book-label" ng-if="vm.isLoggedIn"
                                   ng-click="vm.updateBook(book._id)">加入我的想读</label>
                            <span class="close" ng-if="vm.user._id === book.userId"
                                  ng-click="vm.removeBook(book._id)">&times;</span>
                        </p>
                        <p><span>作者:</span>{{book.auth}}</p>
                        <p><span>出版社:</span>{{book.press}}</p>
                        <p rating-stars rating="book.rating"><</p>
                        <p><span>ISBN:</span>{{book.ISBN}}</p>
                        <p class="book-tags">
                            <span ng-repeat="tag in book.tags track by $index"><a class="tag">{{tag}}</a></span>
                        </p>
                        <p class="book-brief">{{book.brief}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="userinfo">
                    <p>{{vm.user.name}}</p>
                    <a ng-click="vm.popupForm()" ng-if="vm.isLoggedIn" class="btn btn-info">新增推荐</a>
                </div>
                <div class="userinfo" ng-if="!vm.isLoggedIn">
                    <a href="/#/login?page={{vm.currentPath}}" class="btn btn-default">登录可推荐书籍</a>
                </div>
            </div>
        </div>
    </div>
</div>
<main-footer></main-footer>
