<main-header></main-header>
<div class="row">
    <div class="bg-img-show"></div>
    <div class="col-md-offset-7 col-md-4 col-xs-12">
        <div class="box" style="border-top-color: #fff;">
            <div class="box-header">
                <span class="login-txt">登录</span>
                <span class="pull-right login-or-register">没有账号？去<a
                        href="/#register?page={{vm.returnPage}}">注册</a></span>
            </div>
            <div class="box-body">
                <form ng-submit="vm.onSubmit()">
                    <div role="alert" ng-if="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" class="form-control" ng-model="vm.params.email" placeholder="邮箱"
                               value="">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="密码"
                               ng-model="vm.params.password" value="">
                    </div>
                    <input type="submit" name="commit" value="登录" class="form-control btn btn-primary btn-login">
                </form>
            </div>
        </div>
    </div>
</div>
    