<main-header></main-header>
<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">每个人的树洞</h3>
            </div>
            <div class="box-body">
                <div class="error">{{vm.message}}</div>
                <div class="row talklist" ng-repeat="item in vm.talksList">
                    <div class="col-md-2 talk-img">
                        <a href="#/personal/{{item.username}}"><img ng-src='{{item.user_img}}'></a>
                    </div>
                    <div class="col-md-8">
                        <p style="font-size: 16px;"><b><a style="color: #212121;" href="#/personal/{{item.username}}">{{item.username}}</a></b>的话题
                        </p>
                        <p>{{item.createdOn | formatDate}}</p>
                        <div class="talk-item-txt">
                            <a href="#/talks/{{item._id}}">{{item.title}}</a>
                            <p>{{item.brief}}</p>
                            <!--<p>{{item.content}}</p>-->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="close" ng-if="vm.user.name === item.username"
                              ng-click="vm.removeTalk(item._id)">&times;</span>
                        <img src="{{item.talk_img}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>