<main-header></main-header>
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">在这里可以设置更新您的个人信息</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal reset-info">
                    <div role="alert" ng-if="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名号: </label>
                        <div class="col-sm-8">
                            <div class="form-control-static reset-info-item">
                                <input type="text" class="form-control" ng-model="vm.params.username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">个性签名: </label>
                        <div class="col-sm-8">
                            <div class="form-control-static reset-info-item">
                                <input type="text" class="form-control" ng-model="vm.params.per_signature">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">登录密码: </label>
                        <div class="col-sm-8">
                            <p class="form-control-static reset-info-item" ng-if="!vm.isPsw">
                                <span ng-click="vm.resetPsw()">更改</span>
                            </p>
                            <p class="form-control-static reset-info-item" ng-if="vm.isPsw">
                                <span ng-click="vm.resetPsw()">我不改了</span>
                            </p>
                            <div class="form-group" ng-if="vm.isPsw">
                                <label class="col-sm-3 control-label">旧密码: </label>
                                <div class="col-sm-9">
                                    <div class="form-control-static reset-info-item">
                                        <input type="text" class="form-control" ng-model="vm.params.old_psw">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="vm.isPsw">
                                <label class="col-sm-3 control-label">新密码: </label>
                                <div class="col-sm-9">
                                    <div class="form-control-static reset-info-item">
                                        <input type="text" class="form-control" ng-model="vm.params.new_psw">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像: </label>
                        <div class="col-sm-8">
                            <p class="form-control-static reset-info-item"><span>在这里更改你的头像</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">更多信息: </label>
                        <div class="col-sm-8">
                            <p class="form-control-static reset-info-item" ng-click="vm.setMoreInfo()"><span>点击这里</span></p>
                        </div>
                    </div>
                    <label class="btn btn-info pull-right" ng-click="vm.resetInfo()">更新设置</label>
                </form>
            </div>
        </div>
    </div>
</div>