<main-header></main-header>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Welcome</h3>
            </div>
            <div class="box-body">
                <div class="error">{{vm.message }}</div>
                <div class="booklist" ng-repeat="book in vm.books|orderBy:'rating':true">
                    <p>
                        <a href="#/book/{{book._id}}">{{book.title}}</a>
                        <span class="close" ng-click="vm.removeBook(book._id)" data-id="{{book._id}}">&times;</span>
                    </p>
                    <p>{{book.info}}</p>
                    <p rating-stars rating="book.rating"></p>
                    <p class="tags">
                        <span ng-repeat="tag in book.tags">{{tag}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>