<main-header></main-header>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Welcome</h3>
            </div>
            <div class="box-body">
                <div class="error">{{vm.message }}</div>
                <div class="booklist" ng-repeat="item in vm.talksList">
                    <p>
                        <a>{{item.title}}</a>
                        <span class="close" ng-click="" data-id="{{item._id}}">&times;</span>
                    </p>
                    <p>{{item.info}}</p>
                    <p rating-stars rating="item.rating"></p>
                    <p class="tags">
                        <span ng-repeat="tag in item.tags">{{tag}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>