<main-header></main-header>
<div class="row personal">
    <div class="col-md-9 col-xs-12">
        <div class="box box-primary">
            <div class="box-header personal-intro">
                <img src="{{vm.thePersonInfo.user_img}}">
                <h4>{{vm.thePersonInfo.name}}</h4>
                <p>{{vm.thePersonInfo.per_signature}}</p>
            </div>
            <div class="box-body">
                <div class="personal-talks">
                    <h2>{{vm.thePersonInfo.name}}的想说<span><a href="#">(更多)</a></span></h2>
                    <div ng-repeat="item in vm.per_talks">
                        <div class="item" ng-if="item.type === 'word'">
                            <div class="talks-header">
                                <h4 class="text-green">分享· · · · · ·</h4>
                                <span>{{item.createdOn | formatDate}}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="item-content">
                                <span>发布的内容</span>
                            </div>
                        </div>
                        <div class="item" ng-if="item.type === 'image'">
                            <div class="talks-header">
                                <h4 class="text-green">相册· · · · · ·</h4>
                                <span>{{item.createdOn | formatDate}}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="item-content">
                                <span>发布的内容</span>
                            </div>
                        </div>
                        <div class="item" ng-if="item.type === 'link'">
                            <div class="talks-header">
                                <h4 class="text-green">推荐网页· · · · · ·</h4>
                                <span>{{item.createdOn | formatDate}}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="item-content">
                                <span>发布的内容</span>
                            </div>
                        </div>
                        <div class="item" ng-if="item.type === 'diary'">
                            <div class="talks-header">
                                <h4 class="text-green">日记· · · · · ·</h4>
                                <span>{{item.createdOn | formatDate}}</span>
                            </div>
                            <div class="clear"></div>
                            <div class="item-content">
                                <div class="ll">
                                    <img src="">
                                </div>
                                <span>发布的内容</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal-reading">
                    <h2>{{vm.thePersonInfo.name}}的在读......<span><a href="#">(更多)</a></span></h2>
                    <div class="content">
                        <div class="personal-reading-item">

                        </div>
                        <div class="personal-reading-item">

                        </div>
                    </div>
                </div>
                <div class="personal-toread">
                    <h2>{{vm.thePersonInfo.name}}的想读......<span><a href="#">(更多)</a></span></h2>
                    <div class="content">
                        <div class="personal-toread-item">

                        </div>
                        <div class="personal-toread-item">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="infobox">
            <div class="ex1"></div>
            <div class="bd">
                <div class="basic-info">
                    <img src="{{vm.thePersonInfo.user_img}}">
                    <div class="user-info">
                        <p>{{vm.thePersonInfo.name}}</p>
                        <p>{{vm.thePersonInfo.createdOn}}加入</p>
                    </div>
                </div>
                <div class="sep-line"></div>
                <div class="user-intro">
                    <p>爱好：</p>
                    <p>游记：</p>
                </div>
            </div>
            <div class="ex2"></div>
        </div>
    </div>
</div>
