<main-header></main-header>
<div class="row personal">
    <div class="col-md-9 col-xs-12">
        <div class="box box-primary">
            <div class="box-header personal-intro">
                <img src="{{vm.thePersonInfo.user_img}}">
                <h4>{{vm.thePersonInfo.name}}</h4>
                <p>{{vm.thePersonInfo.per_signature}}</p>
            </div>
            <div class="box-body">
                <div class="personal-talks">
                    <h2>{{vm.thePersonInfo.name}}的想说· · · · · ·</h2>
                    <div class="item">
                        <div class="talks-header">
                            <span>分享</span>
                        </div>
                        <div class="clear"></div>
                        <div class="item-content" ng-repeat="item in vm.arrWordTalks">
                            <label class="label label-warning pull-right">{{item.createdOn | formatDate}}</label>
                            <div class="item-content-detail">
                                <p>{{item.lift_piece}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="talks-header">
                            <span>相册</span>
                        </div>
                        <div class="clear"></div>
                        <div class="item-content" ng-repeat="item in vm.arrImgTalks">
                            <label class="label label-warning pull-right">{{item.createdOn | formatDate}}</label>
                            <div class="item-content-detail">
                                <span>发布的内容</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="talks-header">
                            <span>推荐网页</span>
                        </div>
                        <div class="clear"></div>
                        <div class="item-content" ng-repeat="item in vm.arrLinkTalks">
                            <label class="label label-warning pull-right">{{item.createdOn | formatDate}}</label>
                            <div class="item-content-detail">
                                <h5>推荐的链接地址为: <a href="{{item.web_link}}" target="_blank">{{item.web_link}}</a></h5>
                                <div>推荐理由为: {{item.web_reason}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="talks-header">
                            <span>日记</h4>
                        </div>
                        <div class="clear"></div>
                        <div class="item-content" ng-repeat="item in vm.arrDiaryTalks">
                            <label class="label label-warning pull-right">{{item.createdOn | formatDate}}</label>
                            <div class="ll">
                                <img src="">
                            </div>
                            <div class="item-content-detail">
                                <h5><a href="#/talks/{{item._id}}">{{item.diary_title}}</a></h5>
                                <p class="diary-content">{{item.diary_content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal-recommend">
                    <h2>{{vm.thePersonInfo.name}}推荐过的书籍......({{vm.myBookLength}} 本)</h2>
                    <div class="item-content">
                        <div class="personal-recommend-item" ng-repeat="item in vm.myBookList">
                            <a href="#/book/{{item._id}}"><img class="book-img" src={{item.book_img}}></a>
                        </div>
                    </div>
                </div>
                <div class="personal-toread">
                    <h2>{{vm.thePersonInfo.name}}的想读......({{vm.w_BookLength}} 本)</h2>
                    <div class="item-content">
                        <div class="personal-toread-item" ng-repeat="item in vm.w_BookList">
                            <a href="#/book/{{item.book_id}}"><img class="book-img" src="{{item.book_img}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="infobox">
            <div class="ex1"></div>
            <div class="bd">
                <div class="basic-info">
                    <img src="{{vm.thePersonInfo.user_img}}">
                    <div class="user-info">
                        <p>昵称：<span>{{vm.thePersonInfo.name}}</span></p>
                        <p>加入时间：<span>{{vm.thePersonInfo.createdOn}}</span></p>
                    </div>
                </div>
                <div class="sep-line"></div>
                <div class="user-intro">
                    <p>爱好：<span>{{vm.thePersonInfo.hobby}}</span></p>
                    <p>游记：<span>{{vm.thePersonInfo.travels}}</span></p>
                    <p>简介: <span>{{vm.thePersonInfo.brief}}</span></p>
                </div>
            </div>
            <div class="ex2"></div>
        </div>
    </div>
</div>
<main-footer></main-footer>
