<main-header></main-header>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header topictype">
                <a ng-repeat="item in vm.typeArr" ng-click="vm.selectTypeFn(item)"
                   ng-class="{true: 'label label-info', false: ''}[vm._selected === item]">{{item}}</a>
            </div>
            <div class="box-body">
                <div class="error">{{vm.message}}</div>
                <div class="row topiclist" ng-repeat='topic in vm.topicList'>
                    <img data-ng-src='{{topic.user_img}}'><span class="count"><i class="coment">{{topic.commentCount}}</i><i>/</i><i>{{topic.visitedCount}}</i></span>
                    <span class="label label-info">{{topic.type}}</span><a href="">{{topic.title}}</a>
                    <span class="pull-right">{{topic.createdOn | formatDate}}</span>
                    <a href="/" class="pull-right author">{{topic.User}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<main-footer></main-footer>
